$bootstrap-sass-asset-helper: false;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@font-face {
  font-family: 'tomhand';
  src: url('./fonts/toms-handwriting/tomhand.ttf') format('truetype'), local('tomhand');
}

body {
  font-family: 'tomhand', serif;
  font-weight: bolder;
  color: WhiteSmoke;
}

p {
  font-size: 20px;
}

$unit: 50px;

.board-container {
  background-color: gray;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 20%;
  float: right;
  color: #521205;
}

nav > * {
}

.glyphicon {
  font-size: 50px;
}

.board {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 30em;
  width: 30em;
  margin: 25vh;
}

.board > .row {
  background-color: #212121;
  flex: 1;
  display: flex;
}

.board .row > * {
  border: 1px solid #616161;
  font-size: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome {
}

body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
  
.myModalLabel {
  width: 30em;
}

.modal-backdrop {
  background-color: rgba(240, 240, 240, 15%);
}

.close {
    font-size: 50px;
    display:block;
}

.game-over-container {
  width: 40%;
}

#game-over-row {
  width: 100%;
  float: left;
}

.gameOverAnimation {
  background-color: #212121;
  filter: none;
  text-align: center;
}

.text-center {
  text-align: center;
}
